*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 87.5%;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: gray;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

header{
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.navbar a{
    font-weight: 600;
}
#About{
    display: flexbox;
    text-align: justify;
    padding: 20px;
    font-size: medium;
}



footer p{
    font-size: medium;
    text-align: center;
}

footer img{
    width: 48px;
}
